body {
  font-family: "Oooh Baby", cursive;
  background-image: url("./images/background.jpg");
  background-size: 100% 100%;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  text-align: center;
}

@media (max-width: 460px) {
  #main-id {
    align-items: start;
  }
}

.nav-link {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.nav-link:active {
  color: white;
  background-color: rgb(236, 196, 17);
}

.nav-link:visited {
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  background-color: rgb(236, 196, 17);
  padding: 5px;
}

.regular-links {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

.regular-links:active {
  color: white;
}

.regular-links:visited {
  text-decoration: none;
}

.regular-links:hover {
  color: white;
}

.main-hr {
  grid-column: span 3;
  width: 80%;
  border: 2px solid white;
  border-radius: 50%;
}

.travel-hr {
  border: 2px solid white;
  border-radius: 50%;
  grid-column: span 3;
  width: 100%;
}

@media (max-width: 460px) {
  .main {
    margin: 0 30px 0 30px;
  }
}

.App-header {
  font-size: 6em;
  grid-column: span 3;
  font-family: "Dancing Script", cursive;
}

h1 {
  align-items: center;
  justify-items: center;
  font-size: 50px;
  padding: 15px;
  color: white;
  font-family: "Dancing Script", cursive;
}

.mainContainer {
  display: grid;
}

.date-info {
  color: white;
  padding: 5px;
  font-size: 15px;
  font-family: "Dancing Script", cursive;
}

.mainPhoto {
  grid-column: span 3;
  height: 100%;
  width: 55%;
  border-radius: 10%;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .mainPhoto {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .mainPhoto {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .mainPhoto {
    width: auto;
    height: auto;
  }
}

.nav-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  margin: 20px 0 20px 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  font-weight: bold;
  grid-gap: 5%;
  overflow: visible;
}

@media (max-width: 415px) {
  .nav-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.link {
  font-size: 25px;
  display: inline;
  padding: 10px;
  text-align: center;
  color: white;
}

.weddingInfo {
  color: white;
  padding: 5px;
  font-size: 15px;
}

.weddingDay {
  font-family: "Dancing Script", cursive;
}

.photo-block-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  grid-gap: 20px;
  grid-column: span 3;
  margin-bottom: 200px;
}
@media (max-width: 1040px) {
  .photo-block-one {
    margin-top: 50px;
  }
}
@media (max-width: 920px) {
  .photo-block-one {
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 460px) {
  .photo-block-one {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 415px) {
  .photo-block-one {
    height: auto;
    width: auto;
  }
}
.block-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.block-photo-two {
  width: 30%;
  height: 30%;
  margin: 20px;
}

@media (max-width: 920px) {
  .block-photo-two {
    width: 40%;
    height: 40%;
  }
}

@media (max-width: 520px) {
  .block-photo-two {
    width: 100%;
    height: 100%;
  }
}

.photoSubHeader {
  grid-column: span 3;
  text-align: center;
  font-size: 4em;
  color: white;
}

.photo-block-two {
  display: flex;
  flex-wrap: wrap;
  grid-column: span 3;
  width: 80%;
  align-self: center;
  justify-content: space-around;
}

.travelSpots {
  display: grid;
  grid-column: span 3;
}

.hotelInfo {
  display: grid;
  grid-column: span 3;
  grid-template-columns: 1fr;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.hotelPic {
  height: 100%;
  width: 100%;
  border-radius: 30%;
}

.picLink {
  height: 75%;
  width: 80%;
}

.travelHeader {
  font-size: 7em;
  font-family: "Dancing Script", cursive;
}

.reception-header {
  font-size: 6em;
  font-family: "Dancing Script", cursive;
  font-weight: 900;
}
.eventInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.eventInfo h2 {
  font-size: 2em;
}
/* .bottom-info {
  color: white;
} */
.registry-container {
  display: grid;
  grid-column: span 3;
  grid-template-columns: 3fr 1fr 3fr;
  width: 90%;
  justify-items: center;
}

@media (max-width: 600px) {
  .registry-container {
    grid-template-columns: 1fr;
  }
  .registry-child {
    width: 100%;
  }
  #registry-sc-hr {
    grid-column: span 3;
    width: 80%;
    border: 2px solid white;
    border-radius: 50%;
  }
}

.registry-header {
  grid-column: span 3;
}

.registry-child {
  width: 80%;
  align-self: center;
}

.honeymoon-photo {
  height: 100%;
  width: 100%;
}

.registry-hr {
  width: 1;
  size: 500;
  border: 2px solid white;
  border-radius: 50%;
}

.footer {
  text-align: center;
  margin: 10px 0 10px 0;
  border-top: 5px solid white;
  color: white;
  background-color: rgb(45, 146, 121);
  float: left;
  width: 100%;
}

.footer h3 {
  font-size: 3em;
}

.footer h5 {
  font-size: 1.5em;
}

.footer p {
  font-size: 1.4em;
}

.footer-hr {
  width: 40%;
  border: 2px solid white;
  border-radius: 50%;
}
